<form method="POST" action="/food/{{food._id}}?_method=PUT"/>
    <label for="name">Name</label>
    <input type="text" name="name" value="{{food.name}}"/>

<address>
    <label for="street">Street</label>
    <input type="text" name="food.address.street" value="{{food.address.street}}"/>

    <label for="city">City</label>
    <input type="text" name="food.address.city" value="{{food.address.city}}"/>

    <label for="state">State</label>
    <input type="text" name="food.address.zip" value="{{food.address.zip}}"/>

    <label for="zip">Zip</label>
    <input type="text" name="food.address.zip" value="{{food.address.zip}}"/>
</address>

    <label for="description">Cuisine</label>
    <input type="text" name="description" value="{{food.cuisine}}"/>

    <label for="venue">Venue Type</label>
    <input type="string" name="date" value="{{food.venueType}}"/>

    <label for="price">price</label>
    <input type="number" name="price" value="{{food.price}}"/>

    <input type="submit" value="Edit Food"/>
</form>